body {
}

button {
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(180,180,180);
    transition: background-color 0.2s, transform 0.2s;
    z-index: 14;
    pointer-events: all;
}


button:hover {
    background-color: rgb(205,205,205);
    transform: scale(1.05);
}
p{
}

div {
    position: absolute;
    width: 100%;
    height:100%;
    overflow:hidden;
    top:0px;
    left:0px;
    z-index: 1;
    pointer-events: none;
}

#yes {
    position: absolute;
    top:105px;
    left: 100px;
}

